#background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/screen_shot.png");
}


#login {
    margin: 0 auto;
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.9);
    width: 500px;
    height: 400px;
}

#loginText {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    text-align: center;
    padding-top: 75px;
}

#loginButton {
    margin: 0 auto;
    margin-top: 100px;
    width: 120px;
}